body {
    color: #303942;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    min-width: 47em;
    padding: 20px 0 65px 0;  
    overflow: hidden;
}

body > section {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;    
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-figure {
  margin-right: 1em;
}

.media-body {
  flex: 1;
}

.align-right {
    float: right;
}

h1 {
    border-bottom: 1px solid #EEE;
    font-size: 150%;
    padding-bottom: 10px;    
}

.toolbar {
    padding: 0 20px;
    z-index: 30;
    height: 48px;
    min-height: 48px;
}

.toolbar .container {
    height: 100%;
}

section.targets .toolbar .refresh {
    height: 30px;
    width: 30px;



    background: #DB4437;
    box-shadow: none;    
}

.toolbar .refresh img {
    height: 20px;
    width: 20px;
    margin-top: 4px;
}

.toolbar h2 {
    font-size: 18px;
    font-weight: normal;
}

section.targets .floating-nav{ 
    position: absolute;
    bottom: 30px;
    right: 30px;
}

section.targets nav {
    position: absolute;
    top: 5px;
    right: 0;
}

section.targets nav a {
    padding-left: 10px;
}

.target-list {
    display: block;
    overflow: auto;
    height: calc(100% - 48px);
    padding: 0 20px;
    cursor: pointer;
}

.target-list .md-button.md-fab.connect {
    background: #DB4437;
    height: 36px;
    width: 36px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}

.target-list .icon img {
    border-radius: 32px;
    height: 32px;
    width: 32px;
}

section.devtool {
    background: #fff;
    transform: translateX(0);

    z-index: 20;
}

section.devtool.ng-hide {
    transform: translateX(150%);
}

section.devtool.ng-hide-add,
section.devtool.ng-hide-remove {
    transition: 0.4s ease all;
}

section.devtool .toolbar {
    height: 48px;
    min-height: 48px;
    padding: 0 10px;
}

section.devtool .toolbar .back {
    background: transparent;
    box-shadow: none;

    width: 30px;
    height: 30px;
    margin-right: 10px;
}

section.devtool .toolbar .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

section.devtool .devtools-wrapper {
    width: 100%;
    height: calc(100% - 52px);
}

section.devtool .devtools-wrapper iframe {
    border: 0;
    width: 100%;
    height: 100%;
}